$form-border-color: lightgrey;
$form-row-background-color: #fafafa;

form {
    max-width: 500px;
    border: 1px solid $form-border-color;
    border-radius: 3px;
    padding: 10px;

    .form-row {
        margin-bottom: 5px;

        .label-column {
            display: inline-block;
            width: 30%;
            max-width: 30%;

            label {
                padding: 5px 0;
            }
        }

        .value-column {
            display: inline-block;
            width: 70%;
            max-width: 70%;

            input, select {
                padding: 5px 10px;
                background-color: $form-row-background-color;
                border: none;
                border-radius: 3px;
            }
        }

        .errors-row {

        }
    }
}

.form-error {
    color: brown;
}

.response-message-container {
    display: inline-block;
    min-height: 30px;
    
    .response-message {
        color: white;
        background-color: green;
        padding: 5px;
        border-radius: 3px;
    }
}

.form-actions {
    margin-top: 15px;

    .submit-button {
        margin-right: 50px;
    }
}