<h4>User List editing application</h4>

<div class="user-list-container">
    <h3>Users</h3>
    <button class="cursor-pointer" routerLink="/user/null">Create user</button>
    <div class="user-row user-header-row">
        <div class="user-info-column user-name">Username</div>
        <div class="user-info-column first-name">First Name</div>
        <div class="user-info-column last-name">Last Name</div>
        <div class="user-info-column email">Email</div>
        <div class="user-info-column user-type">Type</div>
    </div>
    <div class="user-row link" *ngFor="let user of users" routerLink="/user/{{user.id}}">
        <div class="user-info-column user-name">{{ user.userName }}</div>
        <div class="user-info-column first-name">{{ user.firstName }}</div>
        <div class="user-info-column last-name">{{ user.lastName }}</div>
        <div class="user-info-column email">{{ user.email }}</div>
        <div class="user-info-column user-type">{{ user.userType }}</div>
    </div>
</div>