$table-border-color: lightgrey;
$table-row-background-color: #e6e6e6;
$table-row-border-color: white;

.user-list-container {

    .create-user-button {
        margin-bottom: 10px;
    }

    .user-row {
        border: 1px solid $table-row-border-color;
        border-radius: 5px;
    }

    table {
        padding: 5px;
        border: 1px solid $table-border-color;
        border-radius: 5px;
        
        tr {

            &.user-row {
                
                th, td {
                    padding: 5px;
                }

                td {
                    background-color: $table-row-background-color;
                }

                &.user-header-row {
                    
                    th {
                        color: grey;

                    }
                }
            }
        }
    }
}