<div class="user-list-container">
    <h3>Users</h3>
    <div class="user-row user-header-row">
        <div class="user-info-column user-name">Username</div>
        <div class="user-info-column first-name">First Name</div>
        <div class="user-info-column last-name">Last Name</div>
        <div class="user-info-column email">Email</div>
        <div class="user-info-column user-type">Type</div>
    </div>
    <div class="user-row link" *ngFor="let user of users" (click)="openUserDetails(user)">
        <div class="user-info-column user-name">{{ user.userName }}</div>
        <div class="user-info-column first-name">{{ user.firstName }}</div>
        <div class="user-info-column last-name">{{ user.lastName }}</div>
        <div class="user-info-column email">{{ user.email }}</div>
        <div class="user-info-column user-type">{{ user.userType }}</div>
    </div>
</div>

<app-user-view *ngIf="users.length" [user]="users[0]"></app-user-view>