.button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;

    &.success-button {
        background-color: dodgerblue;
        color: white;
    }
    
    &.error-button {
        background-color: crimson;
        color: white;
    }
}

.link {

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: cornflowerblue;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.response-message {
    color: white;
    background-color: blue;
    padding: 5px;
    border-radius: 3px;

    &.success-message {
        background-color: green;
    }

    &.error-message {
        background-color: brown;
    }
}